<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>Id</key>
            <integer>1</integer>
            <key>profileImageUrl</key>
            <string>avatar_1.png</string>
            <key>userName</key>
            <string>Pony</string>
            <key>mbtype</key>
            <string>imperial_crown</string>
            <key>createdAt</key>
            <string>10:23</string>
            <key>source</key>
            <string>iPhone 6S</string>
            <key>text</key>
            <string>就是喜欢你,
                再来一个换行</string>
        </dict>
        <dict>
            <key>Id</key>
            <integer>2</integer>
            <key>profileImageUrl</key>
            <string>avatar_2.jpg</string>
            <key>userName</key>
            <string>Lucy</string>
            <key>mbtype</key>
            <string>imperial_crown</string>
            <key>createdAt</key>
            <string>10:24</string>
            <key>source</key>
            <string>iPhone 6S</string>
            <key>text</key>
            <string>就是喜欢你,
                再来一个换行</string>
        </dict>
        <dict>
            <key>Id</key>
            <integer>3</integer>
            <key>profileImageUrl</key>
            <string>avatar_3.jpg</string>
            <key>userName</key>
            <string>Jacky</string>
            <key>mbtype</key>
            <string>imperial_crown</string>
            <key>createdAt</key>
            <string>10:25</string>
            <key>source</key>
            <string>iPhone 6S</string>
            <key>text</key>
            <string>就是喜欢你</string>
        </dict>
        <dict>
            <key>Id</key>
            <integer>3</integer>
            <key>profileImageUrl</key>
            <string>avatar_3.jpg</string>
            <key>userName</key>
            <string>Jacky</string>
            <key>mbtype</key>
            <string>imperial_crown</string>
            <key>createdAt</key>
            <string>10:25</string>
            <key>source</key>
            <string>iPhone 6S</string>
            <key>text</key>
            <string>就是喜欢你</string>
        </dict>
        <dict>
            <key>Id</key>
            <integer>3</integer>
            <key>profileImageUrl</key>
            <string>avatar_2.jpg</string>
            <key>userName</key>
            <string>Jacky</string>
            <key>mbtype</key>
            <string>imperial_crown</string>
            <key>createdAt</key>
            <string>10:25</string>
            <key>source</key>
            <string>iPhone 6S</string>
            <key>text</key>
            <string>就是喜欢你</string>
        </dict>
        <dict>
            <key>Id</key>
            <integer>3</integer>
            <key>profileImageUrl</key>
            <string>avatar_3.jpg</string>
            <key>userName</key>
            <string>Jacky</string>
            <key>mbtype</key>
            <string>imperial_crown</string>
            <key>createdAt</key>
            <string>10:25</string>
            <key>source</key>
            <string>iPhone 6S</string>
            <key>text</key>
            <string>就是喜欢你</string>
        </dict>
        <dict>
            <key>Id</key>
            <integer>3</integer>
            <key>profileImageUrl</key>
            <string>avatar_2.jpg</string>
            <key>userName</key>
            <string>Jacky</string>
            <key>mbtype</key>
            <string>imperial_crown</string>
            <key>createdAt</key>
            <string>10:25</string>
            <key>source</key>
            <string>iPhone 6S</string>
            <key>text</key>
            <string>就是喜欢你</string>
        </dict>
        <dict>
            <key>Id</key>
            <integer>3</integer>
            <key>profileImageUrl</key>
            <string>avatar_3.jpg</string>
            <key>userName</key>
            <string>Jacky</string>
            <key>mbtype</key>
            <string>imperial_crown</string>
            <key>createdAt</key>
            <string>10:25</string>
            <key>source</key>
            <string>iPhone 6S</string>
            <key>text</key>
            <string>就是喜欢你</string>
        </dict>
        <dict>
            <key>Id</key>
            <integer>3</integer>
            <key>profileImageUrl</key>
            <string>avatar_2.jpg</string>
            <key>userName</key>
            <string>Jacky</string>
            <key>mbtype</key>
            <string>imperial_crown</string>
            <key>createdAt</key>
            <string>10:25</string>
            <key>source</key>
            <string>iPhone 6S</string>
            <key>text</key>
            <string>就是喜欢你</string>
        </dict>
        <dict>
            <key>Id</key>
            <integer>3</integer>
            <key>profileImageUrl</key>
            <string>avatar_3.jpg</string>
            <key>userName</key>
            <string>Jacky</string>
            <key>mbtype</key>
            <string>imperial_crown</string>
            <key>createdAt</key>
            <string>10:25</string>
            <key>source</key>
            <string>iPhone 6S</string>
            <key>text</key>
            <string>就是喜欢你</string>
        </dict>
        <dict>
            <key>Id</key>
            <integer>3</integer>
            <key>profileImageUrl</key>
            <string>avatar_2.jpg</string>
            <key>userName</key>
            <string>Jacky</string>
            <key>mbtype</key>
            <string>imperial_crown</string>
            <key>createdAt</key>
            <string>10:25</string>
            <key>source</key>
            <string>iPhone 6S</string>
            <key>text</key>
            <string>就是喜欢你</string>
        </dict>
        <dict>
            <key>Id</key>
            <integer>3</integer>
            <key>profileImageUrl</key>
            <string>avatar_3.jpg</string>
            <key>userName</key>
            <string>Jacky</string>
            <key>mbtype</key>
            <string>imperial_crown</string>
            <key>createdAt</key>
            <string>10:25</string>
            <key>source</key>
            <string>iPhone 6S</string>
            <key>text</key>
            <string>就是喜欢你</string>
        </dict>
        <dict>
            <key>Id</key>
            <integer>3</integer>
            <key>profileImageUrl</key>
            <string>avatar_2.jpg</string>
            <key>userName</key>
            <string>Jacky</string>
            <key>mbtype</key>
            <string>imperial_crown</string>
            <key>createdAt</key>
            <string>10:25</string>
            <key>source</key>
            <string>iPhone 6S</string>
            <key>text</key>
            <string>就是喜欢你</string>
        </dict>
        <dict>
            <key>Id</key>
            <integer>3</integer>
            <key>profileImageUrl</key>
            <string>avatar_3.jpg</string>
            <key>userName</key>
            <string>Jacky</string>
            <key>mbtype</key>
            <string>imperial_crown</string>
            <key>createdAt</key>
            <string>10:25</string>
            <key>source</key>
            <string>iPhone 6S</string>
            <key>text</key>
            <string>就是喜欢你</string>
        </dict>
        <dict>
            <key>Id</key>
            <integer>3</integer>
            <key>profileImageUrl</key>
            <string>avatar_2.jpg</string>
            <key>userName</key>
            <string>Jacky</string>
            <key>mbtype</key>
            <string>imperial_crown</string>
            <key>createdAt</key>
            <string>10:25</string>
            <key>source</key>
            <string>iPhone 6S</string>
            <key>text</key>
            <string>就是喜欢你</string>
        </dict>
        <dict>
            <key>Id</key>
            <integer>3</integer>
            <key>profileImageUrl</key>
            <string>avatar_3.jpg</string>
            <key>userName</key>
            <string>Jacky</string>
            <key>mbtype</key>
            <string>imperial_crown</string>
            <key>createdAt</key>
            <string>10:25</string>
            <key>source</key>
            <string>iPhone 6S</string>
            <key>text</key>
            <string>就是喜欢你</string>
        </dict>
        <dict>
            <key>Id</key>
            <integer>3</integer>
            <key>profileImageUrl</key>
            <string>avatar_2.jpg</string>
            <key>userName</key>
            <string>Jacky</string>
            <key>mbtype</key>
            <string>imperial_crown</string>
            <key>createdAt</key>
            <string>10:25</string>
            <key>source</key>
            <string>iPhone 6S</string>
            <key>text</key>
            <string>就是喜欢你</string>
        </dict>
        <dict>
            <key>Id</key>
            <integer>3</integer>
            <key>profileImageUrl</key>
            <string>avatar_3.jpg</string>
            <key>userName</key>
            <string>Jacky</string>
            <key>mbtype</key>
            <string>imperial_crown</string>
            <key>createdAt</key>
            <string>10:25</string>
            <key>source</key>
            <string>iPhone 6S</string>
            <key>text</key>
            <string>就是喜欢你</string>
        </dict>
    </array>
</plist>
