<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF74544C53C7AEFBD3295728</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF74556957692E8DFECEAEEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF745E8C5A5EEB4290B5AE77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
